@{
    ViewData["Title"] = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<div class="row mb-3">
    <div class="col">
        <form asp-controller="Pedidos" asp-action="Index">
            <div class="groupSearch">
                <svg class="iconSearch" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                <input value="" name="searchTerm" placeholder="Busca por proveedor/ID" type="search" class="inputSearch">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="title-form">Proveedores</h4>
        <button type="button" class="btn btn-filter" data-bs-toggle="modal" data-bs-target="#filterModal">
            <i class="fas fa-filter"></i> <!-- Icono de filtro -->
        </button>
    </div>
</div>

<div class="row">
    <div class="breadcrumb">
        <a href="/Proveedores" class="breadcrumb-item active">Proveedores</a> >
    </div>
    Mostrando 7 de 100 resultados
</div>

<div class="col-md-12 mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="textTableCenter"></th>
                    <th scope="col" class="textTableCenter">ID</th>
                    <th scope="col" class="textTableCenter"></th>
                    <th scope="col" class="textTableCenter">Proveedor</th>
                    <th scope="col" class="textTableCenter">Historial de servicios</th>
                    <th scope="col" class="textTableCenter">Ciudad</th>
                    <th scope="col" class="textTableCenter">Reputación</th>
                    <th scope="col" class="textTableCenter">Documentos</th>
                    <th scope="col" class="textTableCenter">Teléfono</th>
                    <th scope="col" class="textTableCenter">Fecha de registro</th>
                    <th scope="col" class="textTableCenter"></th>
                </tr>
            </thead>
            <tbody> 
                <tr>
                    <td class="td-first-go"><div class="b-fg">1</div></td>                    
                    <td class="td-first">
                        000001
                    </td>
                    <td class="td-middle"><span class="badge-custom aprobado" data-bs-toggle="modal" data-bs-target="#leftModal" style="cursor:pointer;">Nuevo</span></td>
                    <td class="td-middle">Lorem ipsum dolor</td>
                    <td class="td-middle"><a asp-controller="Proveedores" asp-action="Historial">Ver</a></td>                                                            
                    <td class="td-middle">Lorem ipsum dolor</td>
                    <td class="td-middle">10/10</td>
                    <td class="td-middle"><a href="#" data-bs-toggle="modal" data-bs-target="#filterModal">Ver documentos</a></td>
                    <td class="td-middle">52 1234569</td>
                    <td class="td-middle">00/00/0000</td>
                    <td class="td-end">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-dark" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" asp-controller="Home" asp-action="UsuarioDetalle">Contactar a proveedor</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="UsuarioDetalle">Enviar Correo</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="UsuarioDetalle">Llamar</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="UsuarioDetalle">Dar de baja</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-first-go"><div class="b-fg">1</div></td>                    
                    <td class="td-first">
                        000001
                    </td>
                    <td class="td-middle"><span class="badge-custom en-camino" data-bs-toggle="modal" data-bs-target="#leftModal" style="cursor:pointer;">Revisar</span></td>
                    <td class="td-middle">Lorem ipsum dolor</td>
                    <td class="td-middle"><a asp-controller="Proveedores" asp-action="Historial">Ver</a></td>                                                            
                    <td class="td-middle">Lorem ipsum dolor</td>
                    <td class="td-middle">10/10</td>
                    <td class="td-middle"><a href="#" data-bs-toggle="modal" data-bs-target="#filterModal">Ver documentos</a></td>
                    <td class="td-middle">52 1234569</td>
                    <td class="td-middle">00/00/0000</td>
                    <td class="td-end">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-dark" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" asp-controller="Home" asp-action="UsuarioDetalle">Contactar a proveedor</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="UsuarioDetalle">Enviar Correo</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="UsuarioDetalle">Llamar</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="UsuarioDetalle">Dar de baja</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-first-go"><div class="b-fg">1</div></td>                    
                    <td class="td-first">
                        000001
                    </td>
                    <td class="td-middle"><span class="badge-custom atrasado" data-bs-toggle="modal" data-bs-target="#leftModal" style="cursor:pointer;">Reportado</span></td>
                    <td class="td-middle">Lorem ipsum dolor</td>
                    <td class="td-middle"><a asp-controller="Proveedores" asp-action="Historial">Ver</a></td>                                                            
                    <td class="td-middle">Lorem ipsum dolor</td>
                    <td class="td-middle">10/10</td>
                    <td class="td-middle"><a href="#" data-bs-toggle="modal" data-bs-target="#filterModal">Ver documentos</a></td>
                    <td class="td-middle">52 1234569</td>
                    <td class="td-middle">00/00/0000</td>
                    <td class="td-end">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-dark" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" asp-controller="Home" asp-action="UsuarioDetalle">Contactar a proveedor</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="UsuarioDetalle">Enviar Correo</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="UsuarioDetalle">Llamar</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="UsuarioDetalle">Dar de baja</a>
                            </div>
                        </div>
                    </td>
                </tr>

            
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade modal-right" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rightModalLabel">Documentos</h5>                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Ingresar antecedentes no penales">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">VER</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Curriculum">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">VER</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="INE FRENTE">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">VER</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="INE DETRAS">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">VER</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Comprobante de domicilio">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">VER</button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <button class="btn btn-primary w-100" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>