@{
    ViewData["Title"] = "Publicidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <a asp-controller="Publicidad" asp-action="Index" class="btn btn-link mt-1" style="color: gray;">
        <i class="fas fa-arrow-left"></i> Volver
    </a>

    <div class="row">
        <div class="breadcrumb">
            <a href="/Publicidad" class="breadcrumb-item active">Publicidad</a> >
        </div>
    </div>
    <div class="row">
    <div class="col-6">
        <form>
            <div class="mb-3">
                <label for="nombreCliente" class="form-label">Nombre del banner</label>
                <input type="text" class="form-control" id="nombreCliente" name="nombreCliente" placeholder="Nombre del banner">
            </div>
            <div class="mb-3">
                <label for="domicilio" class="form-label">Zona</label>
                <input type="text" class="form-control" id="domicilio" name="domicilio" placeholder="Estado,municipio">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Costo</label>
                <input type="text" class="form-control" id="costo" name="costo" placeholder="$000,00">
            </div>
            <div class="mb-3">
                <label for="correo" class="form-label">Categoría</label>
                <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Categoría">
            </div>
            <div class="mb-3">
                <label for="duracion" class="form-label">Duración(días)</label>
                <input type="number" class="form-control" id="duracion" name="duracion" placeholder="18">
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label">Publicar el día</label>
                <input type="date" class="form-control" id="fecha" name="fecha" >
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Eliminar
                </button>
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
    <div class="col">
        <div class="mb-3">                        
    <label for="textarea">Descripción</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
        </div>
        <label for="textarea">Subir video/banner</label>
         <div class="file-drop-area">
            <span class="icon"><i class="fas fa-cloud-upload-alt"></i></span>
            <span class="description">Arrastra y suelta archivos aquí o haz clic para subir</span>
            <input type="file" multiple>
        </div>
    </div>

</div>
</div>




<div class="modal fade" id="calificacionModal" tabindex="-1" role="dialog" aria-labelledby="calificacionodalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bolder fs-3" id="estatusModalLabel">Calificación Del Servicio</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <div class="form-group">
                    <label for="">Comentario</label>
                    <input type="text" class="form-control" value="Estuvo Muy Mal El Servicio" readonly>
                </div>
                <div class="form-group">
                    <label for="">Calificación De La Experiencia</label>
                    <input type="text" class="form-control" value="00/00" readonly>
                </div>
                <div class="form-group">
                    <label for="">Calificación Del Proveedor</label>
                    <input type="text" class="form-control" value="00/00" readonly>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-right" id="leftModal" tabindex="-1" aria-labelledby="leftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rightModalLabel">Devolución</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <p>Razón
                    <div class="form-group">
                        <label for="tipoCliente">Servicios</label>
                        <div class="input-group">
                            <select class="form-control" id="tipoCliente">
                                <option selected>Seleccionar...</option>
                                <option value="1">Cliente A</option>
                                <option value="2">Cliente B</option>
                                <option value="3">Cliente C</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="estatus">Estatus</label>
                        <div class="input-group">
                            <select class="form-control" id="estatus">
                                <option selected>Seleccionar...</option>
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                                <option value="3">Pendiente</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cumpleanos">Usuario</label>
                        <div class="input-group">
                            <div class="groupSearch">
                                <svg class="iconSearch" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                                <input value="" name="searchTerm" placeholder="Busca por usuario/ID" type="search" class="inputSearch">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cumpleanos">Proveedor</label>
                        <div class="input-group">
                            <div class="groupSearch">                                
                                <input value="" name="searchTerm" placeholder="Nombre" type="search" class="inputSearch">
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="filter-section">
                    <h6>Filtros aplicados</h6>
                    <div class="filters-applied">
                        <span class="tag">Tipo de Cliente <i class="fas fa-times close"></i></span>
                        <span class="tag">Buscar por Usuario <i class="fas fa-times close"></i></span>
                        <span class="tag">Estatus <i class="fas fa-times close"></i></span>
                        <span class="tag">Cumpleaños <i class="fas fa-times close"></i></span>
                    </div>
                </div>
                <button class="btn btn-primary w-100">Aplicar</button>
            </div>
        </div>
    </div>
</div>